.registrationContainer{
    margin: 200px 200px;
}

/*.regForm{*/
/*   margin: auto;*/
/*}*/

.regForm input{
    width: 30%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    margin: 20px auto;
    outline: none;
    border: none;
    background: inherit;
    border-bottom: 1px solid gray;
    opacity: .6;
}

.regBtn{
    margin: 10px 0  0 420px;
    width: 4vw;
    height: 4vh;
    border: 1px solid gray;
    background: none;
    opacity: .6;
    text-transform: capitalize;
    cursor: pointer;
}

.regBtn:hover{
    font-weight: bold;
}
