.registrationContainer {
    margin: 200px 200px;
}

.regForm {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    width: 40%;
    margin: auto;
    padding: 60px 0 100px 0;
    border-radius: 10px;
}

.regForm input {
    padding: 10px;
    display: flex;
    flex-direction: column;
    margin: 20px auto;
    outline: none;
    border: none;
    background: inherit;
    border-bottom: 1px solid gray;
    opacity: .6;
}

.regBtn {
    margin: 10px 0 0 135px;
    width: 4vw;
    height: 4vh;
    border: 1px solid gray;
    background: none;
    opacity: .6;
    text-transform: capitalize;
    cursor: pointer;
}

.regBtn:hover {
    font-weight: bold;
}
